.container {
  position: relative;
}

.loader {
  position: absolute;
  /* z-index: 100; */
  top: 0;
  left: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.side-panel {
  width: 80%;
  height: auto;
  max-height: 95%;
  position: absolute;
  right: 0;
  top: 0;
  background: #ccc;
  padding: 5px;
  overflow-y: auto;
}

.display-block {
  display: block;
}

.display-none {
  display: none;
}
.auditDetailsHeight {
  height: 100%;
}

#CloseBtn {
  position: absolute;
  top: 5px;
  right: 5px;
}
.required {
  color: red;
}
.highlight{
  background-color: red
}