<div class="container">
    <div><br />
        <form [formGroup]="filtersForm">
            <mat-form-field appearance="fill">
                <mat-label>Account</mat-label>
                <mat-select formControlName="account" (selectionChange)="renderAudits()">
                    <mat-option *ngFor="let account of filters?.account" [value]="account">
                        {{account}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
            <mat-form-field appearance="fill">
                <mat-label>Region</mat-label>
                <mat-select formControlName="region" (selectionChange)="renderAudits()">
                    <mat-option *ngFor="let region of filters?.region" [value]="region">
                        {{region}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
            <mat-form-field appearance="fill">
                <mat-label>VPC</mat-label>
                <mat-select formControlName="vpc" (selectionChange)="renderAudits()">
                    <mat-option *ngFor="let vpc of filters?.vpc" [value]="vpc">
                        {{vpc}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
            <mat-form-field appearance="fill">
                <mat-label>Application</mat-label>
                <mat-select formControlName="application" (selectionChange)="renderAudits()">
                    <mat-option *ngFor="let ags of filters?.ags" [value]="ags">
                        {{ags}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
            <mat-form-field appearance="fill">
                <mat-label>Filter</mat-label>
                <input matInput (keyup)="applyFilter($event)" #input>
            </mat-form-field>
            <mat-form-field appearance="fill">
                <mat-label>Dates</mat-label>
                <input type="text" matInput ngxDaterangepickerMd [timePicker]="true" [locale]="{format: 'DD/MM/YY HH a'}" [autoApply]='false' [(ngModel)]="dates" (change)="renderAudits()" class="form-control" [ngModelOptions]="{standalone: true}"/>
            </mat-form-field>

            <button mat-raised-button color="primary" [disabled]="isCompareDisabled()" (click)="showDetails()">compare</button>
        </form>
    </div>
    <div class="table-container">
        <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">
            <ng-container matColumnDef="select">
                <th mat-header-cell *matHeaderCellDef>
                    <mat-checkbox (change)="$event ? masterToggle() : null"
                        [checked]="selection.hasValue() && isAllSelected()"
                        [indeterminate]="selection.hasValue() && !isAllSelected()" [aria-label]="checkboxLabel()">
                    </mat-checkbox>
                </th>
                <td mat-cell *matCellDef="let row">
                    <mat-checkbox (click)="$event.stopPropagation()" (change)="$event ? selection.toggle(row) : null"
                    (change)="updatedSelectedList($event,row)"
                        [checked]="selection.isSelected(row)" [aria-label]="checkboxLabel(row)">
                    </mat-checkbox>
                </td>
            </ng-container>
            <ng-container matColumnDef="{{column.key}}" *ngFor="let column of displayedColumns">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> {{column.displayName}} </th>
                <td mat-cell *matCellDef="let element"> {{element[column.key]}} </td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="getDisplayColumns()"></tr>
            <tr mat-row *matRowDef="let element; columns: getDisplayColumns()" class="example-element-row"></tr>
        </table>
        <mat-paginator [pageSizeOptions]="[10, 20, 50, 100]"></mat-paginator>
    </div>
    <div class="side-panel" *ngIf="canShowDetails">
        <app-audit-details class="audit-details" [groupIds]="groupIds"></app-audit-details>
        <button id="CloseBtn" mat-raised-button color="warn" (click)="hideDetails()">Close</button>
    </div>
</div>