.example-container {
  width: 100%;
  height: calc(100vh - 64px);
  border: 1px solid rgba(0, 0, 0, 0.5);
}

.example-sidenav-content {
  display: flex;
  height: calc(100vh - 64px);
  align-items: center;
  justify-content: center;
}

.example-sidenav {
  padding: 20px;
}

.app-name,
.app-name:hover {
  text-decoration: none;
  color: #fff;
}

.dark-theme-mode{
.example-header{
  background-color:#3f51b5 !important;
}
}
