<ng-container>
    <mat-toolbar class="example-header" color="primary">
        <a matLine routerLink="" class="app-name">Security Groups Audit Tool</a></mat-toolbar>
    <mat-sidenav-container class="example-container">
        <mat-sidenav #sidenav mode="side" opened class="example-sidenav">
            <mat-nav-list>
                <mat-list-item>
                    <a matLine routerLink="./security-groups">Security Groups</a>
                </mat-list-item>
                <mat-list-item>
                    <a matLine routerLink="./audit">Audit</a>
                </mat-list-item>
            </mat-nav-list>
            <button mat-raised-button (click)="openDialog()">Open dialog</button>

        </mat-sidenav>
       
        <mat-sidenav-content>
            <router-outlet></router-outlet>
        </mat-sidenav-content>
    </mat-sidenav-container>
</ng-container>